html, body {
  margin: 0;
}

body {
  min-height: 100vh;          /* mindestens Fensterhöhe */
  display: flex;
  flex-direction: column;     /* Header – Layout – Footer untereinander */
  font-family: 'Times New Roman', Times, serif;
  background: tan;
  color: black;
}

header {
  background-color: saddlebrown;
  text-align: center;
  color: black;
  padding: 15px;
  display: block;
}

.layout {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 30px;
  text-decoration: underline;
}

main {
  flex: 2;
  padding: 20px;
  max-width: 2fr;
}

aside {
  flex: 1;
  max-width: 1fr;
  position: relative;
}

#book1,
#book2 {
  font-size: 600px;
  position: absolute;
}

#book2 {
  display: none;
}

.status {
  margin-bottom: 10px;
  font-size: 14px;
  color: gray;
  text-align: right;
}

.table-wrapper {
  background: wheat;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

}

th,
td {
  padding: 10px;
  text-align: left;
}

.member:hover {
  background: tan;
}

input, button {
  border: none;
  padding: 3px 8px;
  border-radius: 10px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  max-width: 300px;
  margin: 0 auto 0 auto;
}

input{
  background-color: wheat;
}

#add-btn {
  padding: 7px 12px;
  border: 3px solid transparent;
  background: saddlebrown;
  border-radius: 8px;
}

.delete-btn, .edit-btn, .save-btn, .cancel-btn {
  border: 3px solid transparent;
  background: saddlebrown;
  border-radius: 8px;
}

.delete-btn:hover, .edit-btn:hover, .save-btn:hover, .cancel-btn:hover, #add-btn:hover {
  border-color: black;
}

footer{
  background: saddlebrown;
  text-align: right;
  font-size: x-small;
}
